.p-t-15 {
    padding-top: 15px;
}
.trans-list-page {
    padding-left: 20px;
    .trans-list {
        width: 80%;
    }
}
.sort-conatiner {
    padding-bottom : 20px
}
select {
    width: 80px;
    height: 30px;
} 
option {
    text-align: left;
}