<div class="wallet-page" *ngIf="route.children.length === 0">
  <div *ngIf="!showTransactionForm; else showTransaction">
    <div class="header-block">
      <span class="f-w-b">Wallet Form</span>
    </div>
    <div class="input">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="walletName">
    </div>
    <div class="input">
      <label for="balance">Balance</label>
      <input type="number" [(ngModel)]="walletBalance" [required]="false" min="0.01">
    </div>
    <button clas="save-button cursor" (click)="onSubmitWalletInfo()">
      save
    </button>
  </div>

  <ng-template #showTransaction>
    <div class="header-block">
      <span class="f-w-b">Enter Transaction</span>
      <span class="wallet-bance" *ngIf="walletInfo && walletInfo.balance">
        <span class="f-w-b"> Wallet Balance :</span>
        <span>{{walletInfo.balance}}</span>
      </span>
    </div>

    <div class="input">
      <label for="transactionAmount">Amount</label>
      <input type="number" [(ngModel)]="transactionAmount"
        min="0.01">
    </div>
    <div class="input">
      <label for="transactionDescription">Description</label>
      <input type="text" [(ngModel)]="transactionDescription">
    </div>

    <div class="p-t-15 p-b-15">
      <ng-toggle [(ngModel)]="config.value" [disabled]="config.disabled" [width]="config.width" [height]="config.height"
        [margin]="config.margin" [labels]="config.labels" [color]="config.color" [switchColor]="config.switchColor"
        [fontColor]="config.fontColor" [fontSize]="config.fontSize" required>
      </ng-toggle>
    </div>


    <button clas="save-button cursor" (click)="onSubmitTransaction()">
      save
    </button>

    <div class="p-t-25">
      <a class="cursor" (click)="goToTransPage()">Show Transactions</a>
    </div>
  </ng-template>
</div>
<router-outlet></router-outlet>